.cell {
  border: 1px solid #dcdcdc;
  padding: 0 !important;
  height: 100%;
  line-height: 24px;
}
.maintenance-date {
  background-color: #a0d36a;
}

.no-border .ant-table table {
  border-left: none !important;
}

.header-divided .ant-table-thead > tr > th {
  border-bottom: 2px solid #a0d36a !important;
}

.ant-picker-date-panel .ant-picker-content th {
  width: 36px;
  font-weight: bold;
  background-color: #dcdcdc;
  padding: 8px 0px !important;
}

.ant-picker-calendar .ant-picker-panel .ant-picker-body {
  padding: 0.5em !important;
}
.ant-picker-content {
  border: 1px solid #dcdcdc !important;
}

.ant-picker-cell {
  padding: 0 !important;
  cursor: pointer;
}

.cloud {
  width: 200px;
  height: 120px;
  border-radius: 0 0 30px 0;
  background:
  /*                radius                            position  / 2xradius*/
  /* radial-gradient(50px 30px,blue 98%,transparent 100%) 80% 20%  /100px    60px, */ radial-gradient(
        36px 42px,
        var(--dark) 98%,
        transparent 100%
      )
      70% 30% /72px 84px,
    radial-gradient(16px 42px, var(--dark) 98%, transparent 100%) 100% 50% /72px 84px,
    radial-gradient(16px 42px, var(--dark) 98%, transparent 100%) 90% 60% /72px 84px,
    radial-gradient(16px 42px, var(--dark) 98%, transparent 100%) 80% 100% /72px 84px,
    radial-gradient(24px 42px, var(--dark) 98%, transparent 100%) 60% 100% /48px 84px,
    radial-gradient(20px 50px, var(--dark) 98%, transparent 100%) 80% 70% /40px 100px,
    /* radial-gradient(20px 50px,var(--dark) 98%,transparent 100%) 50% 100%  /40px   100px, */
      /* radial-gradient(20px 50px,var(--dark) 98%,transparent 100%) 50% 100%  /40px   100px, */
      radial-gradient(20px 50px, var(--dark) 98%, transparent 100%) 30% 100% /40px 100px,
    radial-gradient(30px 50px, var(--dark) 98%, transparent 100%) 40% 90% /60px 100px,
    radial-gradient(30px 50px, var(--dark) 98%, transparent 100%) 20% 80% /60px 100px,
    radial-gradient(40px, var(--dark) 98%, transparent 100%) 0% 50%/100px 100px,
    /* radial-gradient(20px     ,var(--dark) 98%,transparent 100%) 40% 10%/40px   40px,
  radial-gradient(30px     ,var(--dark) 98%,transparent 100%) 30% 70%   /60px    60px, */
      radial-gradient(30px, var(--dark) 98%, transparent 100%) 100% 50% /60px 60px;
  /* base of the cloud */
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0px, -20px);
}

.card-container .ant-tabs-tab {
  margin-right: 2px !important;
  padding: 0 !important;
}

.card-container .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab,
.ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab {
  background: var(--dark) !important;
  padding-left: 0.5rem !important;
  padding-right: 0.5rem !important;
}

.card-container .ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active,
.ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab-active {
  background: var(--light) !important;
}

.card-container .ant-tabs-tab-btn {
  color: var(--light) !important;
  font-weight: bold !important;
}

.card-container .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: var(--dark) !important;
  font-weight: bold !important;
}

.card-container .ant-tabs-tab.ant-tabs-tab-active {
  border-bottom: none !important;
}

.card-container .ant-tabs-bottom > .ant-tabs-nav,
.ant-tabs-bottom > div > .ant-tabs-nav {
  order: 1;
  margin-top: 0 !important;
  margin-bottom: 0;
}
